@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/xfux0wdhww_foeoy2fp9yq.eot")/*tpa=http://fonts.gstatic.com/s/rosario/v14/xfux0WDhWW_fOEoY2FP9yQ.eot*/;
}
